html.light{
  body{
    background-color: white;
  }
  .homepage{
    &.title{
        color: black;
        font-size: 16px;
        font-family: 'RobotoSlab';
    }
    .brand-title{
      font-family: 'TagessFont';
      font-size: 32px;
    }

    
.global-data-wrapper{
  .global-data{
    display: flex;
    justify-content: center;
    gap: 100px;
    .global-data-items-1,.global-data-items-2,.global-data-items-3{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 500px;
      .global-data-items-title{
        font-size: 46px;
      }
      span{
        font-size: 28px;
      }
    }
  }
}
.masthead-image-content{
  bottom: -28px;
  flex: none;
  left: calc(50.00000000000002% - 700px / 2);
  overflow: visible;
  position: absolute;
  top: -102px;
  width: 700px;
  z-index: 2;
}
.masthead{
  height: 88vh;
  position: relative;
  overflow: hidden;
  .title-masthead{
    font-size: 64px;
    height: 90px;
    top: 25px;
  }
  .title-masthead-wrapper{
    position: relative;
    top: -60px;
  }
  .subtitle-masthead{
    font-size: 64px;
    .start-color{
      color: rgb(144, 194, 159);
    }
    .you-color{
      color: rgb(115, 168, 228);
    }
    .from-color{
      color: rgb(238, 110, 110);
    }
  }
  .masthead-image-left{
    position: absolute;
    top: 0px;
    height: 600px;
    width: 400px;
    left: -850px;
    top: 200px;
    img{
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .masthead-image-right{
    position: absolute;
    top: 0px;
    height: 600px;
    width: 400px;
    right: -850px;
    top: 200px;
    img{
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  .masthead-image-left-second{
    position: absolute;
    height: 260px;
    width: 260px;
    left: -430px;
    top: 480px;
    img{
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .masthead-image-right-second{
    position: absolute;
    height: 260px;
    width: 260px;
    right: -430px;
    top: 480px;
    img{
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .masthead-image-left-third{
    position: absolute;
    top: 0px;
    height: 200px;
    width: 200px;
    left: -430px;
    top: 260px;
    img{
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .masthead-image-right-third{
    position: absolute;
    top: 0px;
    height: 200px;
    width: 200px;
    right: -430px;
    top: 260px;
    img{
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .masthead-image-left-fourth{
    position: absolute;
    top: 0px;
    height: 150px;
    width: 150px;
    left: -210px;
    top: 310px;
    img{
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .masthead-image-right-fourth{
    position: absolute;
    top: 0px;
    height: 100px;
    width: 100px;
    right: -210px;
    top: 360px;
    img{
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .masthead-image-left-fifth{
    position: absolute;
    top: 0px;
    height: 130px;
    width: 130px;
    left: -150px;
    top: 480px;
    img{
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .masthead-image-right-fifth{
    position: absolute;
    top: 0px;
    height: 130px;
    width: 130px;
    right: -150px;
    top: 480px;
    img{
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}


.card-1-icon {
  top: -3px;
  position: relative;
}
.marketing-container {
    overflow: hidden;
    position: relative;
    background-color: #faf9f6;
  }

  .marketing-container-wrapper{
    background-color: #faf9f6;
    border-bottom: 1px solid rgb(231, 231, 231);
  }
  
  .marketing-track {
    display: flex;
    width: fit-content;
    animation: marquee-scroll 30s linear infinite;
  }
  
  .marketing-item {
    min-width: 500px;
    margin-right: 20px;
    padding: 10px 20px;
    color: black;
    text-align: center;
  }
  
  /* 👇 Adjust animation distance: -50% works because we doubled the items */
  @keyframes marquee-scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
}

}
