@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color: #f3f4f6;
  --ball-color: #ffffff;
}

@font-face {
  font-family: 'TagessFont';
  src: url('../assets/font/Tagesschrift-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoSlab-bold';
  src: url('../assets/font/RobotoSlab-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoSlab-medium';
  src: url('../assets/font/RobotoSlab-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoSlab-semiBold';
  src: url('../assets/font/RobotoSlab-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/font/RobotoSlab-Regular.ttf') format('truetype');
}

